:root {
    --zebra: hsl(0, 0%, 93%, 1);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}
