* {
    margin: 0;
    padding: 0;
}

@media (max-width:1919px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: aqua;
        padding: 1rem;
        width: 100%;
        font-family: "Kaushan Script", cursive;
        justify-content: center;
        align-items: center;
    }

    #navigation {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        background-color: #E7C081;
    }

    #navigation a:hover {
        background-color: #5f58e4;
        color: #ffffff;
    }

    main {
        display: block;
        margin-top: 2rem;
    }

    h1 {
        justify-content: center;
        justify-items: center;
        width: 100%;
        font-family: "Kaushan Script", cursive;
        background-color: #5f58e4;
    }

    #contactUs {
        justify-content: space-evenly;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        width: 100%;
        font-family: "Kaushan Script", cursive;
        justify-content: center;
        align-items: center;
        background-color: #E7C081;
    }

    .informationSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .card {
        display: flex;
        padding: 1.5rem;
        flex-direction: row;
        align-items: center;
        background-color: #F0F0C9;
        font-weight: 400;
        font-style: normal;
        width: 90%;
        margin: 0.5rem;
        border-radius: 15px;
        box-sizing: border-box;
    }

    .discoverPage {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }

    #pictureReel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #pictureReel picture {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width:420px) {
    .discoverPage {
        display: flex;
        flex-direction: column;
    }
}