* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: aqua;
    padding: 1rem;
    width: 100%;
    font-family: "Kaushan Script", cursive;
    justify-content: center;
    align-items: center;
}

#navigation {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    background-color: #E7C081;
}

#navigation a:hover {
    background-color: #5f58e4;
    color: #ffffff;
}

main {
    display: block;
    margin-top: 2rem;
}

h1 {
    justify-content: center;
    justify-items: center;
    width: 100%;
    font-family: "Kaushan Script", cursive;
    background-color: #5f58e4;
}

#contactUs {
    justify-content: space-evenly;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    font-family: "Kaushan Script", cursive;
    justify-content: center;
    align-items: center;
    background-color: #E7C081;
}

.informationSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    display: flex;
    padding: 1.5rem;
    flex-direction: row;
    align-items: center;
    background-color: #F0F0C9;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    margin: 0.5rem;
    border-radius: 15px;
    box-sizing: border-box;
}

@media (min-width:421px) {

    .discoverPage {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }

    #pictureReel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #pictureReel picture img {
        width: 100%;
        height: auto;
        padding: .1rem;
    }

    .joinPage {
        background-color: seashell;
        padding-left: .9rem;
    }

    .joinPage fieldset {
        margin: 2rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: .5rem 2%;
    }

    .joinPage input[type="text"],
    .joinPage input[type="tel"],
    .joinPage input[type="email"],
    .joinPage select,
    .joinPage input[type="number"] {
        color: lightgray;
        display: block;
        border: solid 1px color gray;
        border-radius: 6px;
        padding: .75rem;
        color: darkgray;
        width: 100%;
        max-width: 400px;
        appearance: none;
    }

    .joinPage input[type="radio"] {
        margin-right: 6px;
    }

    .joinPage input[type="submit"] {
        border: none;
        background-image: linear-gradient(blue, gray);
        color: white;
        border-radius: 6px;
        padding: .8rem;
        width: 96%;
        max-width: 400px;
        margin: -1rem 2% 2rem 2%;
        box-shadow: 1px 1px 4px gray;
    }

    .joinPage input:required {
        border-bottom: solid 8px red;
    }

    .joinPage input:required:valid {
        border-bottom: solid 8px green;
    }

    .joinPage fieldset {
        margin: 2rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: .5rem 2%;
    }

    .joinPage legend {
        color: blue;
        padding: .5rem;
    }

    .joinPage label {
        display: block;
        padding-top: 1rem;
        color: black;
        font-size: .9rem;
    }

    .joinPage div {
        padding-top: 1rem;
        color: blue;
        font-size: .9rem;
    }
}
.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #E7C081;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section > * {
    margin: 0.1rem;
}

.grid h3 {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #E7C081;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

article section img {
    height: 75px;
    max-width: 100%;
}

@media (max-width:420px) {
    .discoverPage {
        display: flex;
        flex-direction: column;
    }

    #pictureReel picture img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}