@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#name{
    font-family: 'Courier New', Courier, monospace;
}

.hamburger{
    font-family: 'Material Symbols Outlined';
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}
.closeIcon{
    display: none;
}

header {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;


}
header img{
    overflow: clip;
    height: auto;
    display: block;
}
header #name{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

nav {
    z-index: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    font-size: 1.5rem;
    justify-content: space-evenly;
    padding: 1rem;
    color: #2241a0;
    font-family: 'Silkscreen', sans-serif;
    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.2s;
}
nav a:hover {
    background-color: #2241a0;
    color: #F0F0C9;
}

nav .active {
    background-color: rgba(0, 0, 0, .3);
}

main {
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: max-content;
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #F0F0C9;
    margin-top: auto;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    float:left;
    align-items: center;
    background-color: #F0F0C9;
    width: 50%;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#information, #learningActivities {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #F0F0C9;
}