@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&family=Silkscreen&display=swap');
main{
    max-width: 1200px;
}
.home-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #e8cb10;
    padding: 0;
    font-size: x-large;
    font-family: 'Onest', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    position: absolute;
    gap: 0;
}
.landingPageHeader{
    background-color: aqua;
}

.landingPageHeader h1{
    grid-column: 1/4;
    grid-row: 1;
}

.landingPageHeader img{
    grid-column: 1/4;
    grid-row: 1;
}

.landingPageHeader h1 {
    display: flex;
}

.landingPageHeader div{

}

nav {
    text-align: center;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    font-size: x-large;
    justify-content: space-around;
    justify-items: center;
    color: #2241a0;
    font-family: 'Silkscreen', sans-serif;
    width: 100%;
}
nav :hover {
    background-color: #2241a0;
    color: #F0F0C9;
}
#language {
    grid-column: 2;
    grid-row: 3;

}

.info-home-page{
    grid-row: 3;
    grid-column: 2;
}

h2{
    grid-column: 2;
    grid-row: 4;
}

footer{
    grid-column: 2;
    grid-row: 4;
}