* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width:520px) {
    header img{
        scale: .8;
        overflow: clip;
        height: auto;
        display: block;
    }

    nav {
        z-index: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
    }

    #cardContainer{
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-items: center;    
    }

    main {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1rem;
    }
    footer {
        font-size: .8rem;
    }
    
    nav {
        display: none;
      }
    
    .hamburger {
        height: 50px;
        width : 50px;
        margin-left: auto;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    .hamburger span {
        height: 5px;
        width: 100%;
        background-color: black;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s ease;
    }
    
    .hamburger span:nth-child(1) {
        top: 25%;
    }
    
    .hamburger span:nth-child(3) {
        top: 75%;
    }
    
    .hamburger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0%;
    }
    
    .hamburger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .off-screen-menu {
        background-color: seashell;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family:  'Silkscreen', sans-serif;
        font-size: 2rem;
        transition: 1s ease;
    }
    .off-screen-menu li {
        list-style: none;
    }
    
    .off-screen-menu.active {
        right: 0;
    }
}

